<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <button class="btn btn-primary"><li><%= link_to list.name, list_path(list) %></li></button>
    <br>
  <% end %>
</ul>

<hr>

<button class="btn btn-warning"> <%= link_to "New List", new_list_path %></button>
